body {
    color: black;
    font-family: Roboto, sans-serif; 
    font-weight:200;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;  

}

h1 {
    font-size: 40px;
    font-weight:200;
    margin: 0px 0px 0px 0px;
}

.container {
    display: inline;
}

.box-top {
    background-color: #1CD1B0;
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 27px;
    text-align:left;
    vertical-align:middle;    
}

.box-title {
    background-color: #00669F;
    margin: 0px 0px 0px 0px;
    padding: 28px 0px 26px 28px;
}

.element-batman, .element-harley {
    background-color: #F3F3F3;
    border-radius: 16px 16px 0px 0px;
    display: inline-block;
    height: 529px;
    margin: 100px 15px 100px 15px;
    position: relative;
    width: 300px;
}

.element-top {
    background-image:url('img/top-batman.svg');
    position: relative;
}

#heart {
    position: absolute;
    top: 17px;
    left: 21px;
}

#element-img-center {
    position: absolute;
    top: 127px;
    left: 90px;
}

.element-title{
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
    padding: 0px 0px;
}

.element-bottom {    
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.element-content{
    font-size: 16px;
}

.element-button {    
    margin-top: 20px;
    text-align: center;    
}

button {
    background-color: #00669F;
    color: white;
    padding: 15px 37px;
}

footer {
    padding: 16px 0px 16px 16px;
    background-color: #00669F;
    color: white;
}